@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');


:root{
    --color_a:black;     /*color fondo*/
    --color_b:#F28705;      /*bordes y extras*/
    --color_c: white;    /*color   textos*/
    --color_d: #262626;     /*color extra*/
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--color_a);
    width: 100vw;
    position:relative;
}

.imagen__logo{
    position: relative;
    right:1%;
    margin-top: 1%;    
}

.container{
    background-color: var(--color_a);
    width: 100vw;
    height: 90vh;
    position:relative;
}


textarea{
    background-color: var(--color_a);
    resize: none;
    font-size: 40px;
}

.texto__usuario{
    width: 60vw;
    height: 70vh;
    padding: 50px;
    border:1px solid var(--color_b);
    border-radius: 32px; 
    position: absolute;
    left: 80px;
    color:var(--color_c);
    font-family: 'Ubuntu Sans Mono',sans-serif;
    font-size: 32px;
    font-weight: 400;
 }

 .texto__usuario:focus{
    outline: #F28705;
 }

 .texto__usuario::placeholder{
    color:var(--color_c);
 }

 .texto__guia{
    position: absolute;
    top:80.5%;
    left:80px;
    color:var(--color_c);  
    font-family: 'Ubuntu Sans Mono',sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.botones{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 80%;
    left:80px;
    top:82%;
    padding:1% 0;
    gap: 24px;
    
}

.boton__encriptar {
    justify-content: center;
    padding: 2%;
    background-color: var(--color_a);
    border: 1px solid var(--color_b);;
    border-radius: 12px;
    color: var(--color_c);
    width: 30%;  
    font-family: 'Ubuntu Sans Mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.boton__desencriptar{
    justify-content: center;
    padding: 2%;
    background-color: var(--color_a);
    border: 1px solid var(--color_b);;
    border-radius: 12px;
    color: var(--color_c);
    width: 30%;
    font-family: 'Ubuntu Sans Mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.boton__desencriptar:hover,.boton__encriptar:hover{
    padding: 1.5%;
    width: 25.5%;
    margin: 0.1%;
}




.area__resultado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 22%;
    height: 94%;
    left: 76%;
    border: 1px solid var(--color_b);;
    border-radius: 24px;
}

.imagen__lupa{
    position: absolute;
    top:25%;
    right:16%;
}

.header__encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 60%;
    color: var(--color_c);
    text-align: center;
    font-family: 'Ubuntu Sans Mono', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.parrafo__encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 72%;
    color: var(--color_c);
    text-align: center;
    font-family: 'Ubuntu Sans Mono', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.txtarea__resultado{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
   
}




.texto__resultado{   
    height: 90%;
    align-items: center;
    color: var(--color_c);
    resize: none;
    outline:none;
    border: none;
    background: transparent;
    font-family: 'Ubuntu Sans Mono', sans-serif;
    font-weight: 400;
    font-size: 24px;
}





footer{
    background-color: var(--color_a);
}

